.task {
    color: black;
}

/* .task:active {
    
}
*/

.task.completed {
    text-decoration: line-through;
}

body {
    margin: auto;
    font-family: Helvetica, Arial, Sans-Serif;
    text-align: center;
    color: white;
    background: #4d929e;
    display: flex;
    justify-content: center;
    line-height: 1rem;
}


button {
    background: white;
    margin: .5em;
}